<mat-grid-list cols="4" gutterSize="15">
    <mat-grid-tile>
        <app-user-card  [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-user-card [user]='{id:"1", fName:"Omar", lName:"Zayed", email:"omar@gmail.com", address:"No. 7 st", city:"Maadi", state:"Cairo", gender: 0 }'></app-user-card>
        </mat-grid-tile>
</mat-grid-list>